**/*.env
**/*.envrc
**/node_modules
**/coverage
deploy
**/nats.creds
**/.DS_Store
**/dist
**/*.key.json
temp-cloned-repo/
# Ignore developer-specific IDE configuration
.vscode/launch.json
.vscode/settings.json
.devcontainer/devcontainer.json

